/* ~~~THIS STYLESHEET CONTROLS CUSTOM DESIGN OF THE WEBPAGE~~~ */

/* Elements */

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input, textarea {
    border-radius: 10px;
    padding: 6px;
    font-size: 12pt;
    border: 2px solid black;
    background-color: #ffe2e5;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 175px;
    min-height: 100%;
}

button {
    padding: 10px;
    margin: 5px;
    margin-left: 0;
    font-weight: bolder;
    color: white;
    background: rgb(175, 54, 66);
    border: 0;
    font-size: 15pt;
    font-family: "Lora", serif;
    border-radius: 15px;
}

button:hover {
    color: black;
    background-color: #fd67766b;
    transition: all 0.5s;
    cursor: pointer;
}

button:active {
    background-color: #ff3347;
}

.minibutton {
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 4px;
    background-color: #ff8692;
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    border: none;
}

.minibutton:hover {
    background-color: #ffa3ad;
}

hr {
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    width: 99%;
    margin: 5px;
}

header,
header *,
footer,
footer * {
    background-color: transparent;
    color: lightgray;
}

hr {
    background-color: #fff;
    border-top: 3px dashed #464646;
    border-bottom: none;
}

a {
    color: #af3642;
    text-decoration: none;
    font-weight: 900;
}

a:hover, a b:hover {
    color: #ff929d;
    text-decoration: underline;
    transition: all 1s;
}

input:focus, textarea:focus {
    background-color: #f8f8f8;
}

/* Classes */

.mlink {
    font-size: 22px;
    display: block;
    width: auto;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 8px;
    color: #fd6776;
}

.current {
    color: lightgray;
    font-style: italic;
}

.last {
    padding-right: 0;
}

header,
footer {
    background: rgb(24, 24, 24);
}

.featureimage {
    border-radius: 20px;
}

.clickicon {
    font-size: 35px;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 1s;
    opacity: 1;
}

.clickicon:hover {
    opacity: 0.5;
}

main .container {
    min-height: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.feature .row {
    height: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.feature h1,
.feature h2,
.feature h3,
.feature h4,
.feature h5,
.feature h6,
.feature p {
    margin-left: 2%;
    margin-right: 2%;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.mlink {
    display: inline-block;
    align-self: center;
    float: none;
    font-weight: bold;
}

.firstline {
    margin-top: 0px;
}

.fa-envelope-open-text, .fa-clipboard, .fa-hashtag, .fa-envelopes-bulk, .fa-ballot {
    color: #AC003F;
}

footer .container .row .w100 {
    text-align: center;
}

.logotext {
    color: #fd6776;
    font-size: 35px;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    margin-top: -1px;
    float: left;
}

.logo {
    float: left;
}

.container {
    background: #f8f8f8;
}

.infocard {
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}

.preline {
    margin-top: -10px;
    padding-bottom: 40px;
}

@media screen and (max-width:1100px) {
    .logotext {
        font-size: 40px;
        padding: 0px;
        padding-top: 5px;
        float: none;
    }

    header {
        height: auto;
        max-height: 90px;
    }

    .logo {
        float: left;
        margin-top: 7px;
        margin-right: 14px;
    }

    .mlink {
        font-size: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    #mlinks .current {
        font-weight: 900;
        font-size: 21px;
        text-decoration: underline;
    }

    body {
        background-color: #f8f8f8;
    }

    main .row {
        padding-bottom: 20px;
    }

    iframe {
        height: 300px;
    }

    main {
        margin-bottom: -30px;
    }

    textarea {
        width: 75%;
    }

    .minibutton {
        font-size: 16px;
    }

    .articlecard {
        padding-bottom: 40px;
        max-width: 100%;
        max-height: 100%;
        word-wrap: break-word;
    }

    .articlecard img {
        max-height: 40vh;
        width: auto;
        max-width: 90vw;
    }
}

@media screen and (min-width:1100px) {
    .logotext {
        padding-bottom: 5px;
    }

    .ar75 {
        width: 75%;
        height: auto;
    }

    .ar50 {
        width: 50%;
        height: auto;
    }

    .navbar {
        height: 45px;
        position: relative;
    }

    #mlinks {
        height: 50px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }

    body {
        background-color: rgb(24, 24, 24);
    }

    .container {
        background-color: #f8f8f8;
        width: 90%;
        padding: 0%;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;
        border-radius: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 25px;
    }

    main {
        margin-top: -25px;
        margin-bottom: -60px;
        position: relative;
        z-index: 99;
    }
}

@media screen and (max-width:1100px) {
    .address, .map {
        width: 47%;
    }

    .address {
        padding-bottom: 50px;
    }

    .newsletter {
        width: 97%;
    }

    .cm {
        width: 47%;
        height: 250px;
    }

    .ar75, .ar50 {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width:700px) {
    .address, .map {
        width: 97%;
    }

    .cm {
        width: 97%;
        height: auto;
    }
}

#sm {
    padding-top: 16px;
}

#services {
    margin-top: 25px;
    margin-bottom: 25px;
}

#services .fas, .serviceinfo .fas, .about .fas {
    padding-bottom: 10px;
    color: #AC003F;
}

.infocard p {
    margin-top: -8px;
    margin-bottom: 2px;
}

.narrowcontainer {
    margin-left: 5%;
    margin-right: 5%;
}

.contactmap {
    max-height: 500px;
}

.intro {
    bottom: 55%;
    transform: translateY(50%);
    position: absolute;
}

.logotext:hover {
    color: #ff929d;
    text-decoration: underline;
    transition: all 1s;
}

.rounded {
    border-radius: 20px;
}

.fab {
    color: #fd6776;
}

.footermodifier {
    padding-left: 6%;
    padding-right: 5%;
    padding-bottom: 10px;
}

.jumplinks {
    padding-left: 12px;
}

.infocard img, .rc, .rb {
    border-radius: 20px;
}

.subtext {
    padding-top: none;
}

table {
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
}

table tr:first-child td:first-child {
    border-top-left-radius: 20px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    padding: 10px;
    border: 1px black solid;
    word-wrap: break-word;
}

.appt {
    padding: 0;
}

.icongroup {
    margin-top: 0px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.rc {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 40vh;
}

#message {
    width: 100%;
    height: 180px;
}

.guidetext {
    color: white;
}
